/* Global Styles
--------------------- */
:root {
    
    --bg-primary: #F5EFE6;
    --bg-secondary: #D2F8ED;
    --bg-info: rgb(243 242 239);

    --primary: hsl(104, 80%, 29%);
    --secondary: #fbffdc;
    --dark-blue: #091434;
    --dark-gray: #454555;
    --light-gray: #AAAABC;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2rem;
}

p {
    line-height: 1.8;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}


button {
    border: none;
}

.btn {
    padding: .5rem .6rem ;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
}

.btn-dark {
    background-color: var(--dark-blue);

    color: white;
}

.btn-dark-outline {
    background-color: transparent;
    padding: calc(.5rem - 3px) calc(.6rem - 3px);
    border: 3px solid var(--dark-blue);
    color: yellow;
}

.btn-dark-outline:hover {
    background-color: var(--dark-blue);
    color: white;
}
.progress {
    border: 1px solid var(--light-gray);
    height: 10px;
}

.progress-bar {
    background-color: #ffc107;
    height: 10px;
}

.card {
    box-shadow: 0px 0px 5px var(--light-gray);
    padding: 2rem;
    background-color: white;
    margin: 3rem 0;
}


/* Header Section
--------------------- */
header {
    position: fixed;
    display: flex;
    padding: 1rem;  
    justify-content: space-between;
    width: 100%;
    z-index: 3;
}

header .logo {
    padding: .5rem;
    border-radius: 5px;
    background-color: var(--dark-blue);
    color: white;
}

header .group-items {
    color: var(--secondary);
    display: flex;
    align-items: center;
    gap: 1rem;
}
/* Navication */
.main-nav {
    /* display: none; */
    position: fixed;
    height: 100%;
    width: 0%;
    overflow: hidden;
    
    padding-top: 5rem;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: hsla(225, 70%, 12%, .9);
    transition: .3s;
}

.main-nav.show-nav {
    width: 100%;
}

.main-nav ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-left: 4rem;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 2rem;
}

.main-nav li a {
    display: inline-block;
    padding: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: .3s;
}

.main-nav a:visited {
    color: white;
}

.main-nav li a:hover {
    text-decoration: underline;
}

.main-nav .social-links {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-links [class^="bi-"] {
    font-size: 2rem;
}
.main-nav .social-links a,
.main-nav .social-links a:visited {
    color: white;
}
/* Sections
------------------ */
#about, 
#work, 
#contact {
    padding: 5rem 2rem;
}

.img-container img {
    max-width: 100%;
}

/* Intro Section
---------------------- */
#intro {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    min-height: 100vh;
    padding: 5rem 2rem;
    gap: 2rem;
}

.short-info {

    margin-bottom: 2rem;
}

#intro .img-container img {
    align-self: start;
}

#intro .short-info h1 {
    color: var(--primary);
}

#intro .short-info p {
    font-size: .7rem;
    color: hsl(104, 80%, 29%);
}
/* About Section
--------------------- */
#about {
    display: grid;
    min-height: 100vh;
    background-color: var(--bg-primary);
    position: relative;
    justify-items: center;

}

#about h1 {
    margin-bottom: 3rem;    
}

#about .img-container {
    margin-bottom: 3rem;
}
/* Skills informaiton */
#about .card-info {
    width: 100%;
    box-shadow: 0px 0px 5px var(--light-gray);
    display: flex;
    flex-direction: column;
}

.author {
    padding: 2rem;
    background-color: var(--bg-info);
    text-align: center;
}

.author-name {
    color: var(--dark-blue);
    margin-top: 1rem;
}

.author-position {
    color: var(--dark-gray);

}

.profile-img {
    text-align: center;
}

.profile-img img {
    border-radius: 50%;
    width: 120px;
    padding: 5px;
    box-shadow: 0px 0px 2px 0px var(--dark-blue) inset ,
                0px 0px 5px 0px var(--dark-blue);
}

.author-details {
    padding: 2rem 2rem;
    background-color: hsla(0, 0%, 100%, 1);
    box-shadow: 0px 0px 15px -3px var(--dark-blue) inset;
    flex-grow: 1;
    height: 60vh;
    overflow: auto;
    
}

.author-details table {
    width: 100%;
    margin-bottom: 1rem;
}

.author-details table tr {
    display: flex;
    justify-content: space-between;
}

.author-details table td {
    text-align: left;
}

.author-details h2 {
    padding: 1rem 0;
}

.languages {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}

.language {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.language .percentage {
    justify-self: end;
}

progress {
    grid-column: 1 / 3;
    width: 100%;
}

.knowledge {
    margin-bottom: 1rem;
}

.knowledge li {
    font-weight: 500;
    list-style-type: square;
    margin-left: 1rem;
}

/* CV */
#cv {
    display: inline-block;
    padding: 1rem 0;
    text-transform: uppercase;    
}

/* Author Social Links */
.author-social-links {
    background-color: var(--bg-info);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.author-social-links [class^="bi-"] {
    font-size: 2rem;
}

.author-social-links a,
.author-social-links a:visited {
    color: var(--dark-blue);
}
/* Journey */
.journey h2 {
    text-align: center;
    margin: 2rem 0;
}
.journey p {
    padding: 1rem 0;
    /* text-indent: 2rem; */
}


/* Work Section
--------------------- */
#work {
    min-height: 100vh;
    background-color: var(--bg-info);
    text-align: center;
}

#work h1 {
    margin-bottom: 3rem;
}
/* Contact Section 
---------------------- */
#contact {
    background-color: var(--bg-secondary);
    min-height: 100vh;
}

#contact h1 {
    margin-bottom: 2rem;
}

#contact .input-group {
    background-color: rgb(243 242 239);
    padding: .5rem 0 0 1rem;
    margin: 1rem 0;
    box-shadow: 2px 2px 5px var(--light-gray);
    border: 1px solid lightgray;
}

#contact .input-group label {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
}
#contact .input-group label span {
    color: var(--light-gray);
}
#contact .input-group input,
#contact .input-group textarea {
    padding: .5rem 0;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    ;
}

#contact .input-group input:focus, 
#contact .input-group textarea:focus {
    outline: none;
}

#contact .social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.social-links a,
.social-links a:visited {
    color: var(--dark-blue);
}

.btn-submit {
    margin-left: auto;
    box-shadow: 2px 2px 5px black;
    text-transform: uppercase;
}
/* Footer Section 
---------------------- */

footer {
    padding: 2rem;
    text-align: center;
}

/* Media Queries */
@media (min-width: 500px) {
    .main-nav.show-nav {
        width: 30%;
    }

}

@media (min-width: 768px) {
    h1 {
        font-size: 5vw;
    }

    #intro, 
    #about, 
    #work, 
    #contact {
        padding: 5rem 2rem;
    }

    #intro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    #intro .short-info p {
        font-size: 1rem;
    }



    #about {
        grid-template-columns: calc(375px - 4rem) 1fr;
        
        grid-template-areas: 
                "heading heading"
                "info image"
                "info journey";
        align-items: start;
        column-gap: 4rem;
    }

    #about h1{
        grid-area: heading;
        margin-bottom: 4rem;
        justify-self: start;
        
    }

    #about .card-info {
        grid-area: info;
        align-self: stretch;
    }
    .author-details {
        height: auto;
    }

    #about .journey {
        grid-area: journey;
        align-self: stretch;
        padding-left: 4rem;
        padding-right: 5rem;
    }

    .card {
        margin: 0;
    }

    #about .img-container {
        grid-area: image;
        max-width: 450px;   
    }
    
    #contact .card {
        max-width: 50%;
    }
}